main {
  margin-top: 2rem;
  .news {
    &:nth-child(1) {
      margin-top: 4rem;
    }
    text-align: center;
    margin-top: 2rem;
    p {
      padding: 1.5rem;
      text-align: justify;
    }
  }
}
